#####################################################
#
# List of approvers for DGT repository
#
#####################################################
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

# main code 
@kpfadnis @mvcrouse @sivasankalpp @pavan046

# SecKnowledge2
fms_dgt/public/databuilders/secknowledge2/ @d4nieldev

# Retrievers
fms_dgt/core/retrievers/ @d4nieldev