# an environment variable available to anyone using DGT
DGT_DATA_DIR="data"
DGT_OUTPUT_DIR="output"

# WatsonX AI [Optional]
WATSONX_API_KEY=""
WATSONX_PROJECT_ID=""

# OpenAI [Optional]
OPENAI_API_KEY=""

# Azure OpenAI [Optional]
AZURE_OPENAI_API_KEY=""

# Antropic [Optional]
ANTHROPIC_API_KEY=""

# common error with vllm, disable if you want this check to happen
VLLM_SKIP_P2P_CHECK=1

# know error with FAISS on MacOS (used in magpie's distance block)
OMP_NUM_THREADS=1