// Copyright The DiGiT Authors
// SPDX-License-Identifier: Apache-2.0

@use '@carbon/styles/scss/spacing' as *;

.metrics {
  display: flex;
  column-gap: $spacing-05;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: $spacing-05;
}

.metric {
  max-width: 450px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  row-gap: $spacing-05;
  margin: $spacing-05;
  background-color: var(--cds-layer-02);
  align-items: center;
}

.tileHeading {
  font-weight: 600;
}

.tileBody {
  display: flex;
  flex-direction: column;
  row-gap: $spacing-05;
}

.metricTextValue {
  align-self: center;
  font-size: 32px;
  font-weight: bold;
}
